@media screen and (max-width: 600px) {
    .hero .main-hero {
      flex-direction: column-reverse;
      gap: 10rem;
      padding: 48px 82px; align-items: center;

    }
    /* responsive-img */
    .img{

height: auto;
      width:auto;
    }
 /* responsive-layout */
    .f-r{ 


      

    display: flex; flex-direction: column;
    }
  }

  /* responisve-text */
.header{
font-size:large;

}
.details{
  font-size: small;
}