*{


    margin-left: 0; padding: 0; box-sizing: border-box;
}


/* hero-section */
.hero{

    .main-hero{

gap: 10rem;

justify-content: space-between;
padding: 96px 165px;


.right::has(svg){

    width: 10px;
}
    }
}
/* map-section */

.map{

.map-main.right::has(svg){


    width: 660px;
    height: 537.77px;
    top: 3022.36px;
    left: 190px;
    
}
    gap: 5rem;
}